<h1>Survey Information Page</h1>
<h2>Name: <%= @survey.name()%></h2>
<% if @survey.questions == [] %>
<h3>No questions listed!</h3>
<% else %>
<h3>Questions listed on this survey:</h3>
  <ul>
    <% @survey.questions().each do |question| %>
    <li><a href="/questions/<%= question.id() %>"><%= question.name()%></a></li>
    <% end %>
  </ul>
<% end %>

<form id="new_questions" action="/surveys/<%= @survey.id() %>/add_question" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="question_name">Add a question: </label>
  <input type="text" name="question_name" id="question_name">
  <br>
  <label for="response_1">Enter in Choice 1</label>
  <input type="text" name="response_1" id="response_1">
  <br>
  <label for="response_2">Enter in Choice 2</label>
  <input type="text" name="response_2" id="response_2">
  <br>
  <label for="response_3">Enter in Choice 3</label>
  <input type="text" name="response_3" id="response_3">
  <br>
  <label for="response_4">Enter in Choice 4</label>
  <input type="text" name="response_4" id="response_4">
  <br>
  <button type="submit" name="question_name_button">Submit</button>
</form>

<h3>Delete this question from the survey</h3>
<form action='/surveys/<%= @survey.id() %>' method="post">
  <input type="hidden" name="_method" value="delete">
  <select name="question_id" id="question_select">
    <% @survey.questions().each() do |question| %>
      <option value="<%= question.id() %>"><%= question.name() %></option>
    <% end %>
  </select>
  <button type="submit">Delete Question</button>
</form>

<h3>Update the survey name</h3>
<form action="/surveys/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Update survey name:</label>
  <input type="text" name="survey_name" id="survey_name">
    <button type="submit">Update</button>
</form>
